
    <div class="add-student">
        <div class="img profile">
          <img  *ngIf="!url" src="http://localhost:3000/{{editStudentData.studentImage}}">
          <img [src]="url" alt="">
          <div class="input">
            <input type="file" (change)="onStudentImageSelected($event)">
          </div>
          <div class="icon">
             <mat-icon>photo_camera</mat-icon>      
          </div>
        </div>
          <div class="namePhone">
            <mat-form-field appearance="outline" >
              <mat-label>Student Name</mat-label>
              <input cdkFocusInitial [(ngModel)]="editStudentData.name" name="name" matInput placeholder="Subhankar Roy">
              <mat-icon matSuffix>account_box</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input [(ngModel)]="editStudentData.phone" name="phone" matInput placeholder="1234567890">
              <mat-icon matSuffix>call</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
        <div class="emailD">
            <mat-form-field appearance="outline">
              <mat-label>Email Address</mat-label>
              <input [(ngModel)]="editStudentData.email" name="email" matInput placeholder="example@gmail.com">
              <mat-icon matSuffix>email</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
        
            <mat-form-field appearance="outline">
              <mat-label> Discipline </mat-label>
              <mat-select [(ngModel)]="editStudentData.discipline" disableRipple>
                <mat-option *ngFor="let d of disciplines" value="{{d.name}}">{{d.name}}</mat-option>
              </mat-select>
              <mat-icon matSuffix>label</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
          <div class="dY">
            <mat-form-field appearance="outline">
              <mat-label> Department </mat-label>
              <mat-select [(ngModel)]="editStudentData.department" disableRipple>
                <mat-option *ngFor="let d of departments" value="{{d.name}}">{{d.name}}</mat-option>
              </mat-select>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
      
            <mat-form-field appearance="outline">
              <mat-label> Year </mat-label>
              <mat-select [(ngModel)]="editStudentData.year" disableRipple>
                <mat-option *ngFor="let y of years" value="{{y.name}}">{{y.name}}</mat-option>
              </mat-select>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
          <div class="pYuRn">
            <mat-form-field appearance="outline">
              <mat-label>Passing Year</mat-label>
              <input [(ngModel)]="editStudentData.passingYear" name="passingYear" matInput placeholder="2022">
              <mat-icon matSuffix>calendar_today</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
              
            <mat-form-field appearance="outline">
              <mat-label>University Roll Number</mat-label>
              <input [(ngModel)]="editStudentData.universityRollNo" name="universityRollNo" matInput placeholder="10200219059">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
            <!-- <mat-dialog-actions align="end"> -->
        
              <a mat-button href="/students" >Cancel</a>
              <button mat-button (click)=updateStudent(editStudentData._id)>Update</button>
      
            <!-- </mat-dialog-actions> -->
      </div>
      
      <!-- </mat-dialog-content> -->