<div class="line-charts">
    <highcharts-chart 
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 300px; display: block;"
    ></highcharts-chart>
</div>


<mat-divider></mat-divider>
<div>
    <p>Total={{total}}</p>
</div>
<div class="CSE">
<p>CSE={{xnumbers[1]}}</p>
</div>
<div class="IT">
<p>IT={{xnumbers[0]}}</p>
</div>
<div class="ECE">

</div>
<div class="ME">

</div>
<div class="EE">

</div>
<div class="MCA">

</div>
<div class="pie-charts">
</div>
<mat-divider></mat-divider>